@font-face {
  font-family: 'Proxima Soft';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/ProximaSoft-Regular.woff') format('woff'),
    url('../assets/fonts/ProximaSoft-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Proxima Soft';
  font-style: italic;
  font-weight: normal;
  src: url('../assets/fonts/ProximaSoft-RegularItalic.woff') format('woff'),
    url('../assets/fonts/ProximaSoft-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Proxima Soft';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/ProximaSoft-Semibold.woff') format('woff'),
    url('../assets/fonts/ProximaSoft-Semibold.woff2') format('woff2');
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 16px;
  font-weight: normal;
  font-synthesis: none;
  font-feature-settings: 'kern' 1, 'liga' 1;
  line-height: 1.5;
}

html,
body,
#app {
  height: 100%;
}

button,
input,
textarea {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: ;
}

button {
  cursor: pointer;
  padding: 0;
  padding-bottom: 1px;
}

button::-moz-focus-inner {
  border: 0;
}

.Link {
  opacity: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  transition: opacity 200ms ease;
}

.Link:not(.Link--noFade):hover {
  opacity: 0.7;
}

.PillLink {
  border-radius: 3px;
  transition: background-color 200ms ease;
}

.supports-hover .PillLink:hover {
  background: rgba(0, 0, 0, 0.07);
}

.PillLink.PillLink:active {
  background: rgba(0, 0, 0, 0.15);
}

.Input {
  border: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 1px inset;
  padding: 0 12px;
  width: 100%;
  height: 44px;
  line-height: 36px;
  transition: border-color 100ms ease, box-shadow 100ms ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Input:focus {
  border-color: #4494ff;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 1px inset,
    rgba(68, 148, 255, 0.1) 0px 0px 0px 3px;
}

code {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
}

.CodeBlock {
  background-color: rgba(255, 139, 139, 0.1);
}

.StatusBar {
  height: 20px;
}

.Markdown {
}

.Markdown p + p {
  margin-top: 16px;
}

.Markdown a {
  color: #ff6f6f;
}

.CircleLoader {
  display: inline-block;
  border-color: transparent;
  border-top-color: currentColor;
  border-left-color: currentColor;
  animation: spinner 500ms linear infinite;
  vertical-align: middle;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.DotLoader {
  display: inline-block;
  text-align: center;
}

.DotLoader > .DotLoader-dot {
  background-color: #666;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  animation: pulse 1000ms infinite ease-out both;
}

.DotLoader > .DotLoader-dot + .DotLoader-dot {
  margin-left: 6px;
}

.DotLoader > .DotLoader-dotA {
  animation-delay: -320ms;
}
.DotLoader > .DotLoader-dotB {
  animation-delay: -160ms;
}

@keyframes pulse {
  0%,
  80%,
  100% {
    background-color: #ccc;
    transform: translateY(-4px);
  }
  40% {
    background-color: #666;
    transform: translateY(0);
  }
}
