.Badge {
  display: inline-block;
  padding: 0 7px 0 9px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  vertical-align: middle;
}

.HomeIntro-letter {
  position: absolute;
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.175);
}

.HomeIntro-letterInner {
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.175);
}

.HomeIntro-letter:hover .HomeIntro-letterInner {
  transform: scale(0.9);
}

.Phone {
  position: relative;
  background: black;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  padding: 48px 12px 56px;
  max-width: 204px;
  border-radius: 24px;
  transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1);
}

.Phone-container {
  perspective: 400px;
  perspective-origin: 100% 50%;
}

@media only screen and (min-width: 768px) {
  .Phone--facingRight {
    transform: rotateY(3deg) rotateZ(-0.5deg);
  }

  .Phone--facingLeft {
    transform: rotateY(-3deg) rotateZ(0.5deg);
  }
}

.Phone-speaker {
  position: absolute;
  width: 48px;
  height: 6px;
  left: 50%;
  top: 29px;
  transform: translateX(-50%);
}

.Phone-camera {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 50%;
  top: 13px;
  transform: translateX(-50%);
}

.Phone-homeButton {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
}

.Phone-screen {
  position: relative;
  width: 180px;
  height: 320px;
  overflow: hidden;
  user-drag: none;
  user-select: none;
}

.fade-enter > .Panel-background {
  opacity: 0.01;
}

.fade-enter.fade-enter-active > .Panel-background {
  opacity: 1;
  transition: opacity 300ms ease;
}

.fade-exit > .Panel-background {
  opacity: 1;
}

.fade-exit.fade-exit-active > .Panel-background {
  opacity: 0.01;
  transition: opacity 300ms ease;
}
