.Dropdown {
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  height: 34px;
}

.Dropdown:hover {
  background: rgba(0, 0, 0, 0.07);
}

.Dropdown-select {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-size: 1em;
  padding-left: 16px;
  padding-right: 32px;
  appearance: none;
}

.Dropdown-arrow {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 12px;
  bottom: 0;
}
