.CircleLoader {
  display: inline-block;
  border-color: transparent;
  border-top-color: currentColor;
  border-left-color: currentColor;
  animation: spinner 500ms linear infinite;
  vertical-align: middle;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
