.DotLoader {
  display: inline-block;
  text-align: center;
}

.DotLoader > .DotLoader-dot {
  background-color: #666;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  animation: pulse 1000ms infinite ease-out both;
}

.DotLoader > .DotLoader-dot + .DotLoader-dot {
  margin-left: 6px;
}

.DotLoader > .DotLoader-dotA {
  animation-delay: -320ms;
}
.DotLoader > .DotLoader-dotB {
  animation-delay: -160ms;
}

@keyframes pulse {
  0%,
  80%,
  100% {
    background-color: #ccc;
    transform: translateY(-4px);
  }
  40% {
    background-color: #666;
    transform: translateY(0);
  }
}
