.Panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.Panel-background {
  position: absolute;
  top: -90px; /* NOTE: -90px to cover space under the Android Chrome header, which tucks away even with a scroll lock. */
  bottom: 0;
  left: 0;
  right: 0;
  will-change: opacity;
  background-color: rgba(0, 0, 0, 0.9);
}

.Panel-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  will-change: transform;
  transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1), opacity 200ms ease;
  z-index: 200;
}

@media only screen and (min-width: 768px) {
  .Panel-menu {
    position: fixed;
    min-width: 300px;
    max-width: 500px;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
  }
}

.panel-enter > .Panel-background {
  opacity: 0.01;
}

.panel-enter.panel-enter-active > .Panel-background {
  opacity: 1;
  transition: opacity 150ms ease;
}

.panel-exit > .Panel-background {
  opacity: 1;
}

.panel-exit.panel-exit-active > .Panel-background {
  opacity: 0.01;
  transition: opacity 400ms ease;
}

@media only screen and (max-width: 768px) {
  .panel-enter > .Panel-menu {
    transform: translateY(100%);
  }

  .panel-enter.panel-enter-active > .Panel-menu {
    transform: translateY(0%);
  }

  .panel-exit > .Panel-menu {
    transform: translateY(0%);
  }

  .panel-exit.panel-exit-active > .Panel-menu {
    transform: translateY(100%);
  }
}

@media only screen and (min-width: 768px) {
  .panel-enter > .Panel-menu {
    opacity: 0.01;
    transform: translate(-50%, -40%);
  }

  .panel-enter.panel-enter-active > .Panel-menu {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  .panel-exit > .Panel-menu {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  .panel-exit.panel-exit-active > .Panel-menu {
    opacity: 0.01;
    transform: translate(-50%, -40%);
  }
}
