.ChapterRow {
  min-height: 44px;
}

.supports-hover .ChapterRow:hover,
.ChapterRow--active {
  background-color: #f2f2f2; /* gray0 */
}

.ChapterRow--active .ChapterRow-label,
.ChapterRow--active .ChapterRow-check {
  opacity: 0.5;
}

.ChapterRow-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
