.PageImage {
  display: inline-block;
  position: relative;
  min-height: 50px;
}

.PageImage-image,
.PageImage-background {
  vertical-align: top;
}

.PageImage-image {
  position: absolute;
  opacity: 0;
  transition: opacity 200ms ease;
}

.PageImage-image.js-lazysizes-loaded {
  position: static;
  opacity: 1;
}

.PageImage--hasSize .PageImage-image.js-lazysizes-loaded {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.PageImage-image.js-lazysizes-loaded + .PageImage-background {
  display: none;
}
