.Toast {
  max-width: 200px;
}

.Toast[data-state='entering'],
.Toast[data-state='entered'] {
  animation: toastOpen 400ms cubic-bezier(0.175, 0.885, 0.32, 1.175) both;
}

.Toast[data-state='exiting'],
.Toast[data-state='exited'] {
  animation: toastClose 400ms cubic-bezier(0.175, 0.885, 0.32, 1.175) both;
}

@keyframes toastOpen {
  from {
    opacity: 0;
    transform: translateY(-120%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes toastClose {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}
