body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

html,
body,
#app {
  height: 100%;
}

button,
input {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  font-size: inherit;
}

button {
  cursor: pointer;
  padding: 0;
  padding-bottom: 1px;
}

.Link {
  opacity: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  transition: opacity 200ms ease;
}

.Link:hover {
  opacity: 0.7;
}

.Input {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 0 8px;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.Button {
  border: 1px solid #eee;
  border-radius: 3px;
  background: white;
  padding: 0 12px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 100%;
}

.Button--primary {
  background-color: #ff7462;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  height: 44px;
  line-height: 44px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Button--primary[disabled] {
  background-color: #776d6c;
  color: rgba(255, 255, 255, 0.5);
}

.Button--primary:not([disabled]):hover {
  background-color: #de6c5d;
}

.CodeBlock {
  background-color: rgba(255, 139, 139, 0.1);
}

.CodeBlock > code {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
}

.PageImage {
  display: inline-block;
  position: relative;
}

.PageImage-image {
  opacity: 0;
  transition: opacity 200ms ease;
  will-change: opacity;
}

.PageImage-image.js-lazysizes-loaded {
  opacity: 1;
}

.PageImage--hasSize .PageImage-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.PageImage--fitHeight .PageImage-background {
  height: auto;
  width: auto;
  max-height: 92vh;
  max-width: 100%;
  vertical-align: top;
}

.PageImage-background {
  background: #cecece;
}

.Navigation {
  background: rgba(255, 255, 255, 0.98);
}

.Dropdown {
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  height: 34px;
}

.Dropdown:hover {
  background: rgba(0, 0, 0, 0.05);
}

.Dropdown-select {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-size: 1em;
  padding-left: 12px;
  padding-right: 32px;
  appearance: none;
}

.Dropdown-arrow {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 12px;
  bottom: 0;
}

.Panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.Panel-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.Panel-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 200;
}

.CircleLoader {
  display: inline-block;
  border: 4px transparent solid;
  border-top-color: black;
  border-left-color: black;
  animation: spinner 500ms linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.DotLoader {
  display: inline-block;
  text-align: center;
}

.DotLoader > .DotLoader-dot {
  background-color: #666;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  animation: pulse 1000ms infinite ease-out both;
}

.DotLoader > .DotLoader-dot + .DotLoader-dot {
  margin-left: 6px;
}

.DotLoader > .DotLoader-dotA {
  animation-delay: -320ms;
}
.DotLoader > .DotLoader-dotB {
  animation-delay: -160ms;
}

@keyframes pulse {
  0%,
  80%,
  100% {
    background-color: #ccc;
    transform: translateY(-4px);
  }
  40% {
    background-color: #666;
    transform: translateY(0);
  }
}
